<h3>Welcome {{ name }}</h3>
<h5>Any new recipes to add today, or are you using an old one?</h5>
<br>
{{#if recipes}}
<p>Here are your recipes</p>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each recipes}}
                <tr>
                    <td><a href="/recipes/{{_id}}"></a>{{title}}</td>
                    <td>{{createdAt}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <h6>You have not created any recipes yet, click here to create one!</h6>
{{/if}}