<h3>Welcome {{ name }}</h3>
<h5>Any new recipes to add today, or are you using an old one?</h5>
<br>
{{#if recipes}}
<p>Here are your recipes</p>
    <table class="striped">
        <thead>
            <tr>
                <th>Recipes</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each recipes}}
                <tr>
                    <td><a href="/recipes/{{_id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a href="/recipes/edit/{{_id}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/recipes/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <h6>You have not created any recipes yet, click here to add one!</h6>
{{/if}}